body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

.menu {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.votacion {
    display: flex;
    flex-direction: row; /* Cambiado a columna para que los elementos estén apilados verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center;
    margin: 0 auto;
}

.container {
    text-align: center;
    margin-bottom: 20px;
}

.opcion {
    margin-bottom: 10px;
    display: inline-block; /* Hace que las opciones estén en línea */
}

.opcion label {
    display: block;
    margin-bottom: 5px;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
.boton {
    margin-top: auto; /* Empuja el botón hacia abajo */
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
