body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    color: #000539;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

#infoElector {
    background-color: #19568b;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(8, 7, 16, 0.4);
    margin-bottom: 20px;
    text-align: left;
}

#infoElector p {
    margin-bottom: 10px;
}

#btnVotar {
    background-color: #f50057;
    color: #fff;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btnVotar:hover {
    background-color: #e40046;
}

.btnContainer {
    display: flex;
    align-items: center;
}

.btnImagen {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.btnConImagen {
    background-color: #f50057;
    text-align: center;
    padding: 15px 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #fff;
    font-size: 16px;
}

.btnConImagen:hover {
    background-color: #e40046;
}

.mensaje-inhabilitado {
    background-color: #e40046;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}