*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #7b9cdc;
    font-family: 'Poppins', sans-serif;
    color: #000539;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.candidates-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.candidato {
    position: relative;
    width: 25%;
    box-sizing: border-box;
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(8, 7, 16, 0.4);
    transition: box-shadow 0.3s, background-color 0.3s; 
}

.candidato:hover {
    box-shadow: 0 0 30px rgba(8, 7, 16, 0.6);
}

.check {
    display: none;
}

.check:checked + label .candidato {
    background-color: #f50057;
    color: #fff;
}

label:hover .candidato {
    background-color: #e0e0e0;
}



.infoCandidato {
    padding: 20px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0 0 10px 10px; /* Añade bordes redondeados abajo */
    position: absolute;
    bottom: 0;
    left: 0;
}

.fotoCandidato {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 2px solid #fff;
}

#btnVotar {
    margin-top: 20px;
    background-color: #f50057;
    color: #fff;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btnVotar:hover {
    background-color: #e40046;
}

.votar-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-votar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
