@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: rgb(237,237,237);
    background: linear-gradient(0deg, rgba(237,237,237,1) 0%, rgba(0,0,0,1) 100%);
    display: flex;
    min-height: 100vh;
}
.form{
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 /30%);
    text-align: center;
}

.formTitulo{
    font-size: 2rem;
    margin-bottom: .5m;
    padding: 10px;
}

.formPara{
    font-weight: 300;
}

.formEnlace{
    font-weight: 400;
    color: #000;
}

.formContendor{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.formGrupo{
    position: relative;
    --color: #5757577e;
}
.formEntrada{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}

.formEntrada:focus + .formLabel,
.formEntrada:not(:placeholder-shown) + .formLabel{
    transform: translate(-10px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
}


.formLabel{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: -5px;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.formSubmite{
    background: #3866f2;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding:.8em 0;
    border: none;
    border-radius: .5em;
}
@media (max-width:425){
    .formTitulo{
        font-size: 1.8rem;
    }
}