<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/loginStyle.css">
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <title>Inicio de Sesión Elector</title>
</head>
<body>
    <form class="form" action="/autenticar" method="post">
        <h3>Iniciar Sesión</h3>

        <label for="username">Cedula de Identidad:</label>
        <input type="text" placeholder="Cedula de Identidad" style="color: #000539" id="username" name="usuario" required>

        <label for="dob">Fecha de Nacimiento:</label>
        <input type="date"  style="color: #000539" id="dob" name="dob" required>

        {% if mensaje_error %}
        <p class="mensaje-error">{{ mensaje_error }}</p>
        {% endif %}

        <button type="submit"  style="color: #fff;">Ingresar</button>
    </form>
</body>
</html>
