<!-- resultados.html -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Resultados de la Elección</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Resultados de elección</h1>
        <div class="graph-container">
            <img src="data:image/png;base64,{{ graph_url }}" alt="Gráfica de Pastel">
        </div>
        <div class="table-container">
            <table>
                <tr>
                    <th>ID Resultado</th>
                    <th>ID Eleccion</th>
                    <th>Candidato</th>
                    <th>Votos</th>
                    <th>Porcentaje</th>
                    <th>Total Votos</th>  
                </tr>
                {% for resultado in resultados %}
                    <tr>
                        <td>{{ resultado.id_resultado }}</td>
                        <td>{{ resultado.id_eleccion }}</td>
                        <td>{{ resultado.candidato }}</td>
                        <td>{{ resultado.votos }}</td>
                        <td>{{ '%.1f' % resultado.porcentaje }}%</td>
                        <td>{{ total_votos }}</td>  <!-- Muestra el total de votos -->
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>