<!-- resultados.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultados de la Elección</title>
    <link rel="stylesheet" href="/static/css/resultadosStyles.css">
    <script>
        function imprimir() {
            window.print();
        }
    </script>
</head>
<body>
    <div class="container">
        <h1 class="print-title">Resultados de elección</h1>
        <div class="graph-container">
            <img src="data:image/png;base64,{{ graph_url }}" alt="Gráfica de Barras Apiladas">
        </div>
        <div class="table-container">
            <table>
                <tr>
                    <th>Candidato</th>
                    <th>Votos</th>
                    <th>Porcentaje</th>
                </tr>
                {% for resultado in resultados %}
                    <tr>
                        <td>{{ resultado[0] }}</td>
                        <td>{{ resultado[1] }}</td>
                        <td>{{ '%.1f%%' % resultado[2] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="total-container">
            <p style="color: #fff">Total de votos: {{ total_votos }}</p>
        </div>
    </div>
    <div class="print-button-container">
        <button onclick="imprimir()">Imprimir</button>
    </div>
</body>
</html>
